/* Rules for presentation */

/*PARAMETERS*/

/*Sheet-Dimension:
Registers: 2
Lines per Register: 16 14
Character per Lines: 14 18 */


body {
    font-size: 100%;
    max-width: 60em;
    max-height: 100%;
    border: 15px solid green; /* for testing */
    padding: 5px;
    margin: 5px;
    overflow: auto;
    direction: rtl;
}

.flex-container {  
   display: -webkit-flex;
   display: flex;    
   -webkit-justify-content: flex-start;
   justify-content: space-around;
   align-items: flex-start;
   align-content: center;   
}

.flex-item{
     align-items: baseline; /*center*/
}

div.heart{
    max-width: 1em;
    border-width: 5px;
    border-color: black;
    border-style: double none;
    writing-mode: tb-rl; /*vertical-lr*/
    unicode-bidi: isolate;
    display: inline-block;
    vertical-align: top;
    margin: 0px;
    padding: 0px;
    order: 2;
    /* Making heart text unselectable for easier selecting across page boundaries   */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    cursor:not-allowed; 
}

/*ratios on block in em*/

div.block{
    max-width: 34em; /* content=((2x14) +1)em*/
    /* height: 30.25em;  content=(30.25 + 6 + 2)em */
    border: 5px double black;
    padding: 6em 3em 2em;
    margin: 5px;
    display: inline-block;   
}

div.page{
   display: inline-block;
}

/*main text is inside registers so we use p for easier reference*/

p{
    text-align: justify;
    text-justify: distribute; /*inter-ideograph*/
    text-align-last: justify;
    /*text-orientation: mixed;*/
    writing-mode: tb-rl; /*vertical-lr*/
    unicode-bidi: isolate;
    border: 1px solid black;
    display: block;
    padding: 1px;
}

/*adjust as necessary*/
p.ur{
     font-size: 0.875em; /*(14/16)*/
     order: 1;
}

p.lr{
      font-size: 1em; /*(18/14)*/
      order: 3;
      align-self: flex-start;
}

/* Some example ratios

    Edgren: hang = 30px, mian-reg = 60px, sheet-face 44px, ear= 20px
            height = 400px, tou = 80px, foot = 60px, sheet-tou 44px, foot-sheet= 10px,  
            
    wanbao: tou = 140px, foot = 66px, hang = 33px, pageheight = 846px*/







